:root {
    --theme-color: #38bdf8;
    --theme-base-color: white;
    --theme-base-color-2: whitesmoke;
    --theme-base-color-3: #d1d5db;    
    --text-color: black;
}

:root.light{
    --theme-color: #38bdf8;
    --theme-base-color: white;
    --theme-base-color-2: whitesmoke;
    --theme-base-color-3: #d1d5db;
    --text-color: black;
}

:root.dark{
    --theme-color: #ed2553;
    --theme-base-color: #0d0d0d;
    --theme-base-color-2: #1f1f1f;
    --theme-base-color-3: #383838;  
    --text-color: white;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    margin: 0;
    border: none;
}

:focus-visible {
    outline: none;
}

svg {
    fill: var(--text-color);
    width: 36px;
}

/* Header */

.header {
    display: flex;
    width: 100vw;
    height: 40px;
    justify-content: space-between;
    background-color: var(--theme-base-color-2);
}

.right_side, .header > div > div {
    display: flex;
    align-items: center;
}

.right_side p {
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
}

#search_bar {
    width: min(500px, calc(100vw/4));
    height: 34px;
    padding-left: 10px;
    background-color: var(--theme-base-color-3);
    border-radius: 5px 0 0 5px;
}

input {
    height: 34px;
    padding-left: 10px;
    background-color: var(--theme-base-color-3);
    border-radius: 5px;
}

.search_panel svg {
    background-color: var(--theme-color);
    border-radius: 0 5px 5px 0;
}

.theme_button:hover {
    cursor: pointer;
}

button {
    background-color: var(--theme-color);
    color: var(--text-color);
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.left_side {
    display: flex;
    align-items: stretch;
}

.sign_in_btn {
    background-color: var(--theme-base-color-3);
}

/* BODY */

.body {
    background-color: var(--theme-base-color);
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    padding-top: 50px;
}

.main_buttons {
    padding-top: 20px;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.main_buttons > button, .submit_button {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 10px
}

/* Add Book Form */

.add_book, .sign_in, .register {
    display: none;
    background-color: var(--theme-base-color-2);
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
    width: min(100vw, 300px);
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 15px;
}

form input {
    background-color: var(--theme-base-color-3);
    border-radius: 5px;
}

form div {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Show Books Table */

.show_books {
    display: none;
    width: min(100vw, 600px);
    overflow-x: auto;
    margin-top: 50px;
}

table {
    background-color: var(--theme-base-color-2);
    border-radius: 10px;
    padding: 20px 0;
    height: calc(100vh - 238px);    
}

td, th {
    padding: 0 10px;
    border-bottom: 1px solid var(--theme-base-color-3);
}

/* alt buttons in sign-in and register forms */

.alt_button {
    background-color: var(--theme-base-color-3);
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 10px;
}

@media(max-width: 400px) {
    #search_bar {
        display: none;
    }

    .search_panel svg {
        border-radius: 5px;
    }
}